@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  margin: 0 auto;
  /* font-family: 'dancingscript', sans-serif; */
  background: #f7f2ea;
}
.fade-in {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInTop 0.7s ease forwards;
}

@keyframes fadeInTop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

a.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  background-color: rgba(136, 156, 130, 1);
  color: white;
  font-size: 18px;
  /* font-weight: bold; */
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

a.btn:hover {
  background-color: rgba(136, 156, 130, 0.85);
  transform: translateY(-2px);
}
